.motta-banner__before-title {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #a03171;
}

.motta-banner__title {
  font-size: 18px;
  font-weight: 600;
  color: #a03171;
}

.motta-banner__description {
  font-size: 14px;
  font-weight: 500;
  color: #a03171;
}

.button-banner {
  line-height: 32px;
  height: 32px;
  padding: 0 1.5em;
  background-color: #02010100;
  color: #a03171;
}
